WOOCOMMERCE_URL=https://tu-sitio.com
WOOCOMMERCE_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WOOCOMMERCE_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_WORDPRESS_CHECKOUT_URL=https://tu-sitio.com/checkout
NEXT_PUBLIC_WORDPRESS_CART_URL=https://tu-sitio.com/cart
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_WORDPRESS_URL=https://tu-sitio.com
